USE [ArteCryptoAuctions]
GO
/****** Object:  Trigger [auction].[TR_Auction_ProcesarCompletada]    Script Date: 9/10/2025 19:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   TRIGGER [auction].[TR_Auction_ProcesarCompletada]
ON [auction].[Auction]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(StatusCode)
    BEGIN
        -- Para subastas COMPLETED
        IF EXISTS (SELECT 1 FROM inserted WHERE StatusCode = 'COMPLETED')
        BEGIN
            PRINT '=== PROCESANDO SUBASTA COMPLETADA ===';
            
            DECLARE @UserId BIGINT;
            DECLARE @AuctionId BIGINT;
            DECLARE @BidAmountETH DECIMAL(38,18);
            DECLARE @ReservationAmountETH DECIMAL(38,18);
            
            -- Obtener datos del ganador
            SELECT 
                @UserId = i.CurrentLeaderId,
                @AuctionId = i.AuctionId,
                @BidAmountETH = i.CurrentPriceETH
            FROM inserted i
            WHERE i.StatusCode = 'COMPLETED';
            
            -- ========== PROCESAR GANADOR ==========
            PRINT '1. Procesando GANADOR (Usuario ' + CAST(@UserId AS NVARCHAR(10)) + ')';
            
            -- Obtener reserva del ganador
            SELECT @ReservationAmountETH = AmountETH
            FROM finance.FundsReservation
            WHERE UserId = @UserId 
            AND AuctionId = @AuctionId
            AND StateCode = 'ACTIVE';
            
            IF @ReservationAmountETH IS NOT NULL
            BEGIN
                -- Procesar ganador
                UPDATE core.Wallet
                SET 
                    BalanceETH = BalanceETH - @BidAmountETH,
                    ReservedETH = ReservedETH - @ReservationAmountETH,
                    UpdatedAtUtc = GETDATE()
                WHERE UserId = @UserId;
                
                INSERT INTO finance.Ledger (UserId, AuctionId, EntryType, AmountETH, [Description])
                VALUES (@UserId, @AuctionId, 'DEBIT', @BidAmountETH, 
                       'Pago por subasta ganada #' + CAST(@AuctionId AS NVARCHAR(20)));
                
                UPDATE finance.FundsReservation
                SET StateCode = 'CAPTURED',
                    UpdatedAtUtc = GETDATE()
                WHERE UserId = @UserId 
                AND AuctionId = @AuctionId
                AND StateCode = 'ACTIVE';
                
                -- CORRECCIÓN: Usar CONCAT para evitar error de conversión
                PRINT CONCAT('   ✅ Ganador procesado: -', @BidAmountETH, ' ETH');
            END
            ELSE
            BEGIN
                PRINT '   ❌ No se encontró reserva activa para el ganador';
            END
            
            -- ========== LIBERAR PERDEDORES ==========
            PRINT '2. Liberando PERDEDORES...';
            
            -- Liberar fondos de perdedores
            UPDATE w
            SET ReservedETH = ReservedETH - fr.AmountETH,
                UpdatedAtUtc = GETDATE()
            FROM core.Wallet w
            INNER JOIN finance.FundsReservation fr ON w.UserId = fr.UserId
            WHERE fr.AuctionId = @AuctionId
            AND fr.UserId != @UserId
            AND fr.StateCode = 'ACTIVE';
            
            -- Marcar reservas de perdedores como RELEASED
            UPDATE finance.FundsReservation
            SET StateCode = 'RELEASED',
                UpdatedAtUtc = GETDATE()
            WHERE AuctionId = @AuctionId
            AND UserId != @UserId
            AND StateCode = 'ACTIVE';
            
            PRINT CONCAT('   ✅ Perdedores liberados: ', @@ROWCOUNT, ' usuarios');
            PRINT '=== PROCESO COMPLETADO ===';
        END
    END
END
